[submodule "JLCPCB-Kicad-Library"]
	path = JLCPCB-Kicad-Library
	url = git@github.com:CDFER/JLCPCB-Kicad-Library.git
[submodule "KiCad-RP2350"]
	path = KiCad-RP2350
	url = git@github.com:becauseimclever/KiCad-RP2350.git
